@model List<Worktastic.Model.JobPosting>

@{
    ViewData["Title"] = "Job Overview";
}

<div class="jumbotron bg-primary">
    <div class="display-1 h1 text-white text-center">Worktastic</div>
</div>

<h4>Find your dream job today.</h4>

<div class="row mt-4">
    <div class="col-10">
        <input class="form-control-lg form-control" type="text" placeholder="What are you looking for?" />
    </div>
    <div class="col">
        <button class="btn btn-lg btn-primary">Go</button>
    </div>
</div>


<hr />

<div class="list-group mt-4">

    @{ foreach (Worktastic.Model.JobPosting jobPosting in Model)
                    {
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@jobPosting.JobTitle</h5>
                <small>@jobPosting.JobLocation</small>
            </div>
            <p class="mb-1">@jobPosting.CompanyName</p>
            <small>Start: @jobPosting.StartDate.ToShortDateString()</small>
        </a> } }

</div>